extends ../layouts/application.pug


block content
  +formFor()(action=route('users') method='post')
    h1.h3.mb-3.fw-normal= t('views.users.new.signUp')
    +input(user, 'firstName', errors)(type="text")
    +input(user, 'lastName', errors)(type="text")
    +input(user, 'email', errors)(type="email")
    +input(user, 'password', errors)(type="password")
    +submit(user)(value=t('views.users.new.submit'))
