extends ../layouts/application.pug

block content
  +formFor()(action=route('editLabel', { id: label.id }) method='post')
    h1.h3.mb-3.fw-normal=t('views.labels.edit.title')
    +input(label, 'name', errors)(type="text")
    input(name='_method' type='hidden' value='patch')
    +submit(status)(value=t('views.labels.edit.submit'))