extends ../layouts/application.pug

block content
  +formFor()(action=route('createNewLabel') method='post')
    h1.h3.mb-3.fw-normal=t('views.labels.edit.title')
    +input(status, 'name', errors)(type="text")
    +submit(status)(value=t('views.labels.edit.submit'))
